
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>
    <ul>
        {% for aluno in alunos %}
            <li>
                <a href="{% url 'update_aluno' aluno.id %}">{{ aluno.first_name }}, {{ aluno.age }}</a>
                <br>
                <a href="{% url 'delete_aluno' aluno.id %}">Excluir</a>
            </li>
            <br>
            <br>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'novo_aluno' %}">Novo</a>
</body>
</html>