{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Cadastro{% endblock %}

{% block main %}
    <h3>Novo Cadastro</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-warning">Salvar</button>
    </form>
    <br><a href="{% url 'lista_aluno' %}" class="btn btn-primary">Cancela e Retorna</a>

{% endblock %}

<!- documentação em https://django-bootstrap-form.readthedocs.io/en/latest/->